<div class="container d-flex justify-content-center">
  <div class="col-lg-12 text-center">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">thumb_up</mat-icon>
        Usuário
      </ng-template>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">thumb_up</mat-icon>
        Banda
      </ng-template>
      <div class="container">        
        <app-bandas></app-bandas>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">thumb_up</mat-icon>
        Outros
      </ng-template>

    </mat-tab>
  </mat-tab-group>
</div>
</div>
